*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --pink: rgba(203,38,150,1);
    --pinkprimary: #bc4594;
    --violet: #232649;
    --blue: #007ad8;
    --lightblue: #2196f3;
    --darkblue: #003083;
    --green: #0a473d;
    --ligthorange: #ff8a65;
    --whiteblue: #d6f0ff;
    --whitegreen: #cef7dc;
    --white: #f2f2f2;
    --black: #000000;
    scroll-behavior: smooth;
    --basic-font:"Motiva Sans";

}

@font-face {
    font-family: "MotivaSans";
    src: url("/fonts/MotivaSansRegular.woff.ttf") format("opentype");
}
@font-face {
    font-family: "MotivaSans";
    src: url("/fonts/MotivaSansBold.woff.ttf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "MotivaSans";
    src: url("/fonts/MotivaSansExtraBold.ttf") format("opentype");
    font-weight: 800;
}
@font-face {
    font-family: "MotivaSans";
    src: url("/fonts/MotivaSansBlack.woff.ttf") format("opentype");
    font-weight: 900;
}



ul{
    list-style: none;

}

a:link, a:visited{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.906);
}


.main-head {
    font-family: 'MotivaSans';
    font-size: 1.75rem;
    position: relative;
    min-width: 100%;
    background-image: linear-gradient(93deg, rgba(142,56,158,1) 0%, rgba(215,33,148,1) 44%, rgba(255,149,140,1) 92%); 
    background-size: 150%;
    animation: bg-animation 3s infinite alternate;
}
    
@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100%{
        background-position: right;
    }
}
@keyframes rocket {
    0%{
        scale: 110%;
    }
    100%{
        scale: 120%;
        transform: rotate(45deg);
    }
}

nav{
    display: flex;
    align-items: center;
    background-color:rgba(245, 245, 245, 0.316);
    padding:2rem;
}
nav ul{
    margin-bottom: 0;
}
.sales {
    position: relative;
    background-color: rgba(245, 245, 245, 0.206);
    flex-direction: row;
    text-align: right;
    padding: 0.3rem 6rem;
}

#logo{
    padding-left: 4rem;
    display: flex;
}

.nav-links a:hover {
    color: var(--white);
    transition: ease-in 900ms;
    
}

#quote {
    background-color: var(--pink);
    padding: 0.8rem 2rem;
    font-size: 1.75rem;
    align-items: center;;
    border-radius: 5px;   
    z-index: 1;
    color: var(--white);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
    
.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1 1 20rem;
}

.slider{
    display: flex;
    position: relative;
    flex-direction: row;
    min-width: 80%;
}

.slider-content{
    display: flex;
    align-items: center;
    margin-left: -20px;
}

.slider-content h1{
    z-index: 1;
    color: var(--white);
    font-weight: 800;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 3rem;
    letter-spacing: -3px;
    display: flex;
    margin-right: -200px;
    
}
.slider-content a {
    background-color:transparent;
    padding: 0.8rem 2.5rem;
    font-size: 2.25rem;
    align-items: center;
    color: var(--black);
    border-radius: 6px;   
}
.slider-content a:hover {
    background-color:black;
    color: var(--white);
    transition: ease-in-out 900ms;
    

}

#woman{
    z-index: 2;
    max-height: 69vh;
    padding-top: 2.1rem;
    padding-bottom: 0%;
   position: relative;
   right: -6rem;
    
}

.carousel-control-prev,
.carousel-control-next {
    margin: 0 -60px;
}


.contact{
    min-height: 25vw;
    background-color: var(--green);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}

.contact h2{
    font-family: 'MotivaSans';
    font-weight: 700;
    font-size: 4rem;
    color: var(--white);
}

.contact a{
    color: var(--white);
    background-color: var(--ligthorange);
    padding: 0.5rem 2rem;
    font-size: 1.75rem;
    color: var(--black);
    border-radius: 4px; 
    margin-bottom: 1rem;
}
.contact a:hover{
    color: var(--white);
    transition: ease-in-out 1.5s;
}

.contact p{
    color: var(--white);
    font-size: 2rem;
    letter-spacing: -1px;
    padding: 1.1rem 0rem;
}

.rocket-cards{
    background-color: var(--whitegreen);
}

.triangle svg{
    display: block;
    margin: 0 auto;
    max-height: 3rem;
}

.cards{
    padding: 3rem 3rem;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.card{
    min-width: 200px;
    min-height: 300px;
    padding: 2rem 1rem;
    justify-content: center;
    display: flex;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.card img{
    max-width: 150px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.card img:hover{
    animation: rocket 2s infinite alternate;
}

.card a{
    color: var(--white);
    background-color: var(--ligthorange);
    font-size: 1.75rem;
    border-radius: 4px; 
    text-align: center;
    letter-spacing: -1px;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0.5rem 0rem;
}

.card h3{
    font-family: 'MotivaSans';
    font-weight: bold;
    letter-spacing: -1px;
}

.card p{
    font-family: 'MotivaSans';
    letter-spacing: -1px;
    font-size: 1.5rem;
}

.card a:hover{
    color: var(--black);
    transition: ease-in-out 0.5s;
}

.card:hover{
    scale: 110%;
    transition: ease-in-out 1s;
    z-index:1;
}

.help{
    display: flex;
    max-height:8rem ;
   background-color: var(--green);
   align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}

.help p{
    font-family: 'MotivaSans';
    font-weight: 800;
    font-size: 5rem;
    color: var(--white);
    padding: 2rem;
}

.logo-f{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: var(--black);
    font-family: 'MotivaSans';
    font-size: 1.75rem;
    font-weight: 400;
    align-items: center;
}

.nav-links-f{
    display: flex;
    flex: 1 1 20rem;
    text-transform: uppercase;
    justify-content: space-between;
    padding-bottom: 0%;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.nav-links-f li a {
    justify-content: space-between;
    grid-auto-flow: column;
    white-space: nowrap;
    text-align: center;
   color: var(--white);
   font-size: 1.5rem;
   padding-top: 2rem;
   padding-bottom: -1rem;
   font-weight: bold;
   margin: 0 1rem;
 
}

.nav-links-f2{
    text-transform: uppercase;
    justify-content: space-between;
    padding-bottom: 0%;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.nav-links-f2 a {
    justify-content: space-between;
    white-space: nowrap;
    text-align: center;
   color: var(--white);
   font-size: 1.5rem;
   padding-top: 2rem;
   padding-bottom: -1rem;
   font-weight: bold;
   margin: 0 1rem;
 
}
.copy{
    display: grid;
    grid-auto-flow: column;
    white-space: nowrap;
    gap: 2rem;
    color: var(--white);
    font-size: 1.125rem;
    justify-content: space-between;
    padding-left: 3rem;
    align-items: center;
    margin-bottom: 2rem;
    letter-spacing: -1px;
    margin-right: 2rem;
}
#icon {
    width: 20px;
    justify-content: center;
    
}
.burger,
.menu-check{
    display: none;
}

.globe{
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fa-earth-asia{
    scale: 2.2;
    color:var(--white);
    padding: 0.2rem;
    border-radius: 6px;
    margin: 2em;
    justify-content: center;
    align-items: center;
}
.icons{
    flex-direction: row;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    animation: anim-icons 2s infinite alternate;
}
.icons-bottom span{
    font-size: 1.5rem;
    align-items: center;
}

.icons-bottom{
    height: 500px;
    overflow: hidden;
    align-items: center;
    background-color: var(--whiteblue);
}
.icons-bottom i{
    font-size: 1.5rem;
}



@keyframes anim-icons {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(1%);
    }
}
@keyframes anim-icons2 {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-1%);
    }
}

.two-row{
    margin-left: -3%;
    animation: anim-icons2 2s infinite alternate;

}


nav .fa-phone{
    display: none;
}

.top-rated{
    display: block;
}
.top-rated img{
    position: relative;
    padding-right: 20%;
}
.top-rated h2, h3{
    font-family: 'MotivaSans';
    font-weight: bold;
    font-size: 3rem;
}

.top-rated a{
    color: var(--white);
    background-color: var(--pinkprimary);
    font-size: 1.75rem;
    border-radius: 4px; 
    text-align: center;
    letter-spacing: -1px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.top-rated a:hover{
    background-color:black;
    color: var(--white);
    transition: ease-in-out 2s;
}
.top-rated h3{
    color: var(--pinkprimary);
}
.top-rated p{
    font-size: 1.125rem;
    padding: 1rem 0rem;
}

.m-cards{
    margin: 2rem 0rem;
}
.m-card{
    gap: 1rem;
}
.m-card i{
    font-size: 2.5rem;
    padding: 1rem 0rem;
}

.old-phone{
    background: var(--blue);
    align-items: center;
    margin-bottom: 1rem;
    z-index: 20;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

.old-phone h2{
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-top: 7%;
    margin-left: -20%;
    letter-spacing: -1px;
    font-family: 'MotivaSans';
}
.old-phone h3{
    color: var(--white);
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-left: -20%;
    letter-spacing: -1px;
    margin-bottom: 2rem;
}
.old-phone img{
    margin-top: -5%;
    width: 100%;
    margin-bottom: -4%;
    padding-top: -20%;
}

.old-phone-links {
    text-align: end;
    margin-right: 20%;
    margin-top: 1rem;
}

.old-phone a{
    color: var(--black);
    font-size: 1.75rem;
    border-radius: 4px; 
    padding: 0.5rem 2rem;    
}

.old-phone a:hover {
    background-color: var(--white);
    transition: ease-in-out 1s;
}
@media ( width < 840px) {
    h1{
        font-size: 2.5rem;
    }
    
    
    h3{
        font-size: 1.75rem;
    }

    #logo{
        display: flex;
        justify-content: center;
        padding:auto;
        position: relative;
        
    }
    nav .fa-phone{
        color: var(--white);
        display: inline-block;
        position: absolute;
        height: 2rem;
    }

    .burger{
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        right: 5%;
        display: block;
    }
    .burger span{
        padding: 0.175rem 1.5rem;
        background: var(--white);
        margin: 0.5rem 0rem;
        display: block;
        z-index: 5;
        position: relative;
        border-radius: 5px;
        transition: all 0.5s ease;

    }

    .nav-links a{
        color: #f2f2f2;
        z-index: 4;
        font-size: 1.75rem;
        text-decoration: underline;
    }
    .nav-links{
        background: linear-gradient(93deg, rgba(142,56,158,1) 0%, rgba(215,33,148,1) 44%, rgba(255,149,140,1) 92%);
        background-size: 300%;
        animation: bg-animation 3s infinite alternate;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        transition: transform 1s ease;
    }

    .menu-check{
        display: block;
        position: absolute;
        top: 8%;
        right: 10%;
        transform: translate(5%, -50%);
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
    }

    .menu-check:checked + .nav-links{
        transform: translateX(-100%);
    }

    .menu-check:checked ~ .burger span{
        background: var(--white);
    }

    .menu-check:checked ~ .burger span:nth-child(1) {
        transform: rotateZ(45deg) translateY(300%);
    }
    .menu-check:checked ~ .burger span:nth-child(2) {
        opacity: 0;
    }
    .menu-check:checked ~ .burger span:nth-child(3) {
        transform: rotateZ(-45deg) translateY(-300%);
    }

    #logo{
        flex-direction: column;
        align-items: center;

    }

    .sales{
        font-size: 1.25rem;
        justify-content: center;
        text-align: center;
    }
    .slider-content h1 {
        display: block;
        font-size: 2.5rem;
        align-items: center;
        justify-content: center;
        margin: 2rem 5rem;
        text-align: center;
        font-weight: 400;
        letter-spacing: -1px;
    }
    
    .slider-content a {
        display: flex;
        text-align: center;
        font-size: 1.25rem;
        justify-content: center;
        margin: 1rem 33%;
    }
    .slider-content img{
        display: none;
    }
   .cards {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
   }

   .card{
       margin: 1rem 1rem;
       width: 28rem;
   }

   .card h3{
    font-family: 'MotivaSans';
    font-weight: bold;
    letter-spacing: -1px;
    padding: 0rem;
    }

    .card p{
        font-family: 'MotivaSans';
        font-size: 0.85rem;
    }

    .card a{
        font-size: 1.25rem;
        border-radius: 4px; 
        text-align: center;
        letter-spacing: -1px;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
        margin-right: 5rem;
        padding: 0.5rem;
    }

    .help p{
        font-size: 2.5rem;
    }

    .triangle svg {
        position: top;
        height: 45px;
    }
    .contact{
        min-height: 280px;
        
    }

    .contact h2 {
        font-size: 2rem;
        margin: 0;
    }
    .contact p {
        font-size: 1.25rem;
        
    }

    .contact a {
        font-size: 1.125rem;
    }

    .nav-links-f li{
        font-size: 1.25rem;
        display: table-row-group;
        flex-wrap: wrap;
       justify-content: space-around;
        
    }

    .logo-f{
        display: block;
       padding: 1rem;
    }

    .logo-bottom{
        position: relative;
        align-items: center;
        display: flex;
        margin: 2rem;
    }

    .nav-links-f{
        font-size: 1.25rem;
        flex-direction: row;
        position: relative;
    }

    .copy{
        display: inline-block;
        position: relative;
        justify-content: center;
    }
    .globe{
        display: none;
    }
}

@media ( max-width: 1199px){
    #woman{
        display: none;
    }
    #logo{
        margin-left: -5%;
        width: 15rem;
    }

    .nav-links{
        font-size: 1.25rem;
    }
    
    .hero{
        padding: 3rem 2rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        margin: 1rem;
    }
    .slider-content a{
    margin:1rem 15% ;
    }

    .slider-content h1{
        font-size: 3.5rem;
        margin: 1rem 15%;
    }
    .globe{
        margin-top: 0.8rem;
        margin-bottom:0.8rem ;
    }
}



