* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: rgba(203, 38, 150, 1);
  --pinkprimary: #bc4594;
  --violet: #232649;
  --blue: #007ad8;
  --lightblue: #2196f3;
  --darkblue: #003083;
  --green: #0a473d;
  --ligthorange: #ff8a65;
  --whiteblue: #d6f0ff;
  --whitegreen: #cef7dc;
  --white: #f2f2f2;
  --black: #000000;
  scroll-behavior: smooth;
  --basic-font: 'Motiva Sans';
}

@font-face {
  font-family: 'MotivaSans';
  src: url('/fonts/MotivaSansRegular.woff.ttf') format('opentype');
}

@font-face {
  font-family: 'MotivaSans';
  src: url('/fonts/MotivaSansBold.woff.ttf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'MotivaSans';
  src: url('/fonts/MotivaSansExtraBold.ttf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'MotivaSans';
  src: url('/fonts/MotivaSansBlack.woff.ttf') format('opentype');
  font-weight: 900;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.906);
}

.main-head {
  font-family: 'MotivaSans';
  font-size: 1.75rem;
  position: relative;
  min-width: 100%;
  background-image: linear-gradient(
    93deg,
    rgba(142, 56, 158, 1) 0%,
    rgba(215, 33, 148, 1) 44%,
    rgba(255, 149, 140, 1) 92%
  );
  background-size: 150%;
  animation: bg-animation 3s infinite alternate;
}

#carouselHeroFade {
  overflow-x: hidden;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

@keyframes rocket {
  0% {
    scale: 110%;
  }

  100% {
    scale: 120%;
    transform: rotate(45deg);
  }
}

nav {
  display: flex;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.316);
  padding: 2rem;

  ul {
    margin-bottom: 0;
  }
}

.sales {
  position: relative;
  background-color: rgba(245, 245, 245, 0.206);
  flex-direction: row;
  text-align: right;
  padding: 0.3rem 6rem;
}

#logo {
  padding-left: 4rem;
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;

  a:hover {
    color: var(--white);
    transition: ease-in 900ms;
  }
}

#quote a {
  background-color: var(--pink);
  padding: 0.8rem 2rem;
  font-size: 1.75rem;
  align-items: center;
  border-radius: 5px;
  z-index: 1;
  color: var(--white);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.slider {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: 80%;
}

.slider-content {
  display: flex;
  align-items: center;
  margin-left: -20px;

  h1 {
    z-index: 1;
    color: var(--white);
    font-weight: 800;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 3rem;
    letter-spacing: -3px;
    margin-right: -200px;
  }

  a {
    background-color: transparent;
    padding: 0.8rem 2.5rem;
    font-size: 2.25rem;
    align-items: center;
    color: var(--black);
    border-radius: 6px;

    &:hover {
      background-color: black;
      color: var(--white);
      transition: ease-in-out 900ms;
    }
  }
}

#woman {
  z-index: 2;
  max-height: 69vh;
  padding-top: 2.1rem;
  padding-bottom: 0%;
  position: relative;
  right: -6rem;
}

.carousel-control-prev,
.carousel-control-next {
  margin: 0 -60px;
  z-index: 10;
}

.contact {
  min-height: 25vw;
  background-color: var(--green);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  text-align: center;

  h2 {
    font-family: 'MotivaSans';
    font-weight: 700;
    font-size: 4rem;
    color: var(--white);
  }

  a {
    color: var(--white);
    background-color: var(--ligthorange);
    padding: 0.5rem 2rem;
    font-size: 1.75rem;
    color: var(--black);
    border-radius: 4px;
    margin-bottom: 1rem;

    &:hover {
      color: var(--white);
      transition: ease-in-out 1.5s;
    }
  }

  p {
    color: var(--white);
    font-size: 2rem;
    letter-spacing: -1px;
    padding: 1.1rem 0rem;
  }
}

.rocket-cards {
  background-color: var(--whitegreen);
}

.triangle svg {
  display: block;
  margin: 0 auto;
  max-height: 3rem;
}

.cards {
  padding: 3rem 3rem;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.card {
  min-width: 200px;
  min-height: 300px;
  padding: 2rem 1rem;
  justify-content: center;
  display: flex;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  &:hover {
    scale: 110%;
    transition: ease-in-out 1s;
    z-index: 1;
  }

  img {
    max-width: 150px;
    margin: 0 auto;
    padding-bottom: 2rem;

    &:hover {
      animation: rocket 2s infinite alternate;
    }
  }

  a {
    color: var(--white);
    background-color: var(--ligthorange);
    font-size: 1.75rem;
    border-radius: 4px;
    text-align: center;
    letter-spacing: -1px;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0.5rem 0rem;

    &:hover {
      color: var(--black);
      transition: ease-in-out 0.5s;
    }
  }

  h3 {
    font-family: 'MotivaSans';
    font-weight: bold;
    letter-spacing: -1px;
  }

  p {
    font-family: 'MotivaSans';
    letter-spacing: -1px;
    font-size: 1.5rem;
  }
}

.help {
  display: flex;
  max-height: 12rem;
  background-color: var(--green);
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  text-align: center;

  p {
    font-family: 'MotivaSans';
    font-weight: 800;
    font-size: 5rem;
    color: var(--white);
    padding: 2rem;
  }
}

.logo-f {
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: var(--black);
  font-family: 'MotivaSans';
  font-size: 1.75rem;
  font-weight: 400;
  align-items: center;
}

.nav-links-f {
  display: flex;
  flex: 1 1 20rem;
  text-transform: uppercase;
  justify-content: space-between;
  padding-bottom: 0%;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0rem;

  li a {
    justify-content: space-between;
    grid-auto-flow: column;
    white-space: nowrap;
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: -1rem;
    font-weight: bold;
    margin: 0 1rem;
  }
}

.nav-links-f2 {
  text-transform: uppercase;
  justify-content: space-between;
  padding-bottom: 0%;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0rem;

  a {
    justify-content: space-between;
    white-space: nowrap;
    text-align: center;
    color: var(--white);
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: -1rem;
    font-weight: bold;
    margin: 0 1rem;
  }
}

.copy {
  display: grid;
  grid-auto-flow: column;
  white-space: nowrap;
  gap: 2rem;
  color: var(--white);
  font-size: 1.125rem;
  justify-content: space-between;
  padding-left: 3rem;
  align-items: center;
  margin-bottom: 2rem;
  letter-spacing: -1px;
  margin-right: 2rem;
}

#icon {
  width: 20px;
  justify-content: center;
}

.burger,
.menu-check {
  display: none;
}

.globe {
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fa-earth-asia {
  scale: 2;
  color: var(--white);
  padding: 0.2rem;
  border-radius: 6px;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.icons {
  flex-direction: row;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  animation: anim-icons 2s infinite alternate;
}

.icons-bottom {
  height: 500px;
  overflow: hidden;
  align-items: center;
  background-color: var(--whiteblue);

  span {
    font-size: 1.5rem;
    align-items: center;
  }

  i {
    font-size: 1.5rem;
  }
}

@keyframes anim-icons {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(1%);
  }
}

@keyframes anim-icons2 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-1%);
  }
}

.two-row {
  margin-left: -3%;
  animation: anim-icons2 2s infinite alternate;
}

nav .fa-phone {
  display: none;
}

.top-rated {
  display: block;

  h2,
  h3 {
    font-family: 'MotivaSans';
    font-weight: bold;
    font-size: 3rem;
  }

  a {
    color: var(--white);
    background-color: var(--pinkprimary);
    font-size: 1.75rem;
    border-radius: 4px;
    text-align: center;
    letter-spacing: -1px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;

    &:hover {
      background-color: black;
      color: var(--white);
      transition: ease-in-out 2s;
    }
  }

  h3 {
    color: var(--pinkprimary);
  }

  p {
    font-size: 1.125rem;
    padding: 1rem 0rem;
  }
}

.m-cards {
  margin: 2rem 0rem;
}

.m-card {
  gap: 1rem;
  p {
    font-size: 1.125rem;
    padding-right: 0.5rem;
  }

  h4 {
    font-weight: bold;
  }

  i {
    display: block;
    font-size: 2.5rem;
    padding: 1rem 0rem;
  }
}

.old-phone {
  background: var(--blue);
  align-items: center;
  margin-bottom: 1rem;
  z-index: 20;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;

  h2 {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-top: 7%;
    margin-left: -20%;
    letter-spacing: -1px;
    font-family: 'MotivaSans';
  }

  h3 {
    color: var(--white);
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-left: -20%;
    letter-spacing: -1px;
    margin-bottom: 2rem;
  }

  img {
    margin-top: -5%;
    width: 100%;
    margin-bottom: -4%;
    padding-top: -20%;
  }

  .old-phone-links a {
    color: var(--black);
    font-size: 1.75rem;
    border-radius: 4px;
    padding: 0.5rem 2rem;

    &:hover {
      background-color: var(--white);
      transition: ease-in-out 1s;
    }
  }
}

.old-phone-links {
  text-align: end;
  margin-right: 20%;
  margin-top: 1rem;
}

.logo-bottom2 {
  align-items: center;
  margin: 2rem 0 0 0;
  max-width: 100%;
}

.logo-bottom-div {
  text-align: center;
}

.icons-row {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  background-color: var(--whiteblue);

  .fa-earth-asia {
    filter: drop-shadow(0 8px 8px rgba(72, 72, 72, 0.12));
  }

  span {
    padding: 1rem;
    text-align: justify;
  }
}
#row-one {
  margin-left: -1%;
}
#row-two {
  margin-left: -25%;
}

.back {
  background-color: var(--whiteblue);
  transform: skewY(2deg);
  position: relative;
  top: -2rem;
  height: 5rem;
  z-index: -2;
}

.blue-button {
  text-align: center;
  position: relative;
  top: -17%;

  span a {
    font-size: 1.75rem;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    background-color: var(--blue);
    color: white;
  }
}

.globus {
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  .content {
    padding: 2.5rem;
    text-align: right;
    margin-top: 2rem;
    margin-bottom: -5rem;
  }

  h2 {
    font-weight: bold;
    font-size: 4rem;
  }

  h3 {
    color: var(--blue);
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 1rem;
  }

  p {
    font-size: 1.125rem;
  }
}

.industry {
  h2 {
    color: var(--blue);
    font-weight: bold;
    font-size: 4rem;
    word-wrap: wrap;
    padding-left: 4rem;
    span {
      color: var(--black);
    }
  }
}

.mobile-phone {
  padding-right: 1rem;
  text-align: justify;
  position: relative;
}
.mobile-background {
  position: absolute;
  top: -15%;

  img {
    max-width: 100%;
    z-index: -10;
  }
}

.mobile-cards {
  .mob-card {
    z-index: -2;
    margin-bottom: -30%;
    position: relative;
  }

  a {
    display: block;
    padding: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    border: solid 2px rgb(184, 183, 183);
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  }
}

.mob-cards {
  margin: 3rem 0rem;

  i {
    padding: 1rem;
    font-size: 4rem;
  }
}

.mob-content {
  z-index: 20;
  padding: 0 4rem;
  position: relative;
  margin-top: -1rem;
  h3,
  h4 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  h5 {
    font-size: 2rem;
    font-weight: bold;
  }

  i {
    color: blue;
    margin: 0 1rem;
  }

  h4 {
    color: var(--blue);
  }
  p {
    margin: 2rem 0rem;
    margin-right: -1rem;
    font-size: 1.5rem;
  }

  div {
    padding: 0.25rem 0rem;
    font-size: 1.5rem;
  }

  div a {
    margin-top: 2rem;
    border: none;
    padding: 0.5rem 1rem;
    display: inline-block;
  }
}

.mobile-content {
  div a {
    font-size: 1.75rem;
    border-radius: 4px;
    padding: 0.5rem 2rem;
    background-color: var(--blue);
    color: white;
  }
}

.guy {
  margin-top: -25%;
  text-align: right;
  img {
    position: relative;
  }
}

.construction {
  background-color: #f2f2f2;
  padding: 1rem 1rem 3rem 1rem;

  .accordion-item {
    margin: 1rem 0;
  }
  .accordion-button {
    color: black;
    background-color: white;
    i {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }

  .accordion-header button {
    font-size: 1.5rem;
  }

  .accordion-body {
    font-size: 1.25rem;
    i {
      margin: 0 0.5rem;
      color: var(--blue);
    }
    h5 {
      font-weight: bold;
    }
  }

  .learn-more {
    text-align: right;
    a {
      color: var(--blue);
    }
  }
}

@media (max-width: 1199px) {
  #woman {
    display: none;
  }

  #logo {
    margin-left: -5%;
    width: 15rem;
  }

  .nav-links {
    font-size: 1.25rem;

    li {
      padding-top: 0.3rem;
    }

    #quote {
      padding-top: 0;
    }
  }

  .hero {
    padding: 3rem 2rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin: 1rem;
  }

  .slider-content {
    a {
      margin: 1rem 15%;
    }

    h1 {
      font-size: 3.5rem;
      margin: 1rem 15%;
    }
  }

  .globe {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .top-rated {
    img {
      max-width: 90%;
      margin-top: 2rem;
    }
  }

  .globus {
    padding: 4rem 4rem;

    img {
      min-width: 100%;
    }
  }

  .industry {
    h2 {
      padding-left: 4rem;
    }
  }

  .mobile-cards {
    padding: 2rem 2rem;
  }
}

@media (max-width: 840px) {
  h1 {
    font-size: 2.5rem;
  }

  .m-card {
    i {
      display: inline;
    }
  }

  h3 {
    font-size: 1.75rem;
  }

  #logo {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }

  nav .fa-phone {
    color: var(--white);
    display: inline-block;
    position: absolute;
    height: 2rem;
  }

  .back2 {
    background-color: #f2f2f2;
    transform: skewY(2deg);
    position: relative;
    top: -2rem;
    height: 5rem;
    z-index: -3;
  }

  .burger {
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    right: 5%;
    display: block;

    span {
      padding: 0.175rem 1.5rem;
      background: var(--white);
      margin: 0.5rem 0rem;
      display: block;
      z-index: 5;
      position: relative;
      border-radius: 5px;
      transition: all 0.5s ease;
    }
  }

  .nav-links {
    background: linear-gradient(
      93deg,
      rgba(142, 56, 158, 1) 0%,
      rgba(215, 33, 148, 1) 44%,
      rgba(255, 149, 140, 1) 92%
    );
    background-size: 300%;
    animation: bg-animation 3s infinite alternate;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    transition: transform 1s ease;

    a {
      color: #f2f2f2;
      z-index: 4;
      font-size: 1.75rem;
      text-decoration: underline;
    }
  }

  .menu-check {
    display: block;
    position: absolute;
    top: 8%;
    right: 10%;
    transform: translate(5%, -50%);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
  }

  .menu-check:checked + .nav-links {
    transform: translateX(-100%);
  }

  .menu-check:checked ~ .burger span {
    background: var(--white);
  }

  .menu-check:checked ~ .burger span:nth-child(1) {
    transform: rotateZ(45deg) translateY(300%);
  }

  .menu-check:checked ~ .burger span:nth-child(2) {
    opacity: 0;
  }

  .menu-check:checked ~ .burger span:nth-child(3) {
    transform: rotateZ(-45deg) translateY(-300%);
  }

  #logo {
    flex-direction: column;
    align-items: center;
  }

  .sales {
    font-size: 1.25rem;
    justify-content: center;
    text-align: center;
  }
  .small-bold {
    font-weight: 800;
  }

  .cards-calls {
    padding: 1rem 3rem;

    .m-card {
      padding: 0.5rem 0rem;
    }
  }

  .slider-content {
    h1 {
      display: block;
      font-size: 2.5rem;
      align-items: center;
      justify-content: center;
      margin: 2rem 5rem;
      text-align: center;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 2.5rem;
    }

    a {
      display: flex;
      text-align: center;
      font-size: 1.25rem;
      justify-content: center;
      margin: 1rem 33%;
    }

    img {
      display: none;
    }
  }

  .top-rated {
    text-align: center;
    margin: 2rem 0rem;
    h2,
    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.25rem;
      margin: -1rem 0rem;
    }

    .button-pink {
      margin-top: 3rem;
      a {
        padding: 0.9rem 5rem;
      }
    }
  }
  .old-phone {
    h2,
    h3 {
      font-size: 2rem;
    }
  }
  .globus {
    text-align: center;
    background-color: #f2f2f2;

    .content {
      h2,
      h3 {
        font-size: 2rem;
      }
      text-align: center;
      margin: 1rem 0rem;
      p {
        margin: 1rem 2rem;
      }
    }
  }

  .industry {
    background-color: #f2f2f2;
    padding: 2rem 1rem;
    h2 {
      font-size: 2rem;
      text-align: center;
      flex-direction: row;
    }
  }
  .industry-lorem {
    background-color: #f2f2f2;
    text-align: center;
    padding: 1rem 2rem;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    margin: 1rem 1rem;
    width: 28rem;

    h3 {
      font-family: 'MotivaSans';
      font-weight: bold;
      letter-spacing: -1px;
      padding: 0rem;
    }

    p {
      font-family: 'MotivaSans';
      font-size: 0.85rem;
    }

    a {
      font-size: 1.25rem;
      border-radius: 4px;
      text-align: center;
      letter-spacing: -1px;
      justify-content: center;
      align-items: center;
      margin-left: 5rem;
      margin-right: 5rem;
      padding: 0.5rem;
    }
  }

  .help p {
    font-size: 2.5rem;
  }

  .triangle svg {
    position: top;
    height: 45px;
  }

  .contact {
    min-height: 280px;

    h2 {
      font-size: 2rem;
      margin: 0;
    }

    p {
      font-size: 1.25rem;
    }

    a {
      font-size: 1.125rem;
    }
  }

  .logo-f {
    display: block;
    padding: 1rem;
  }

  .logo-bottom {
    position: relative;
    align-items: center;
    display: flex;
    margin: 2rem;
  }

  .nav-links-f {
    font-size: 1.25rem;
    flex-direction: row;
    position: relative;

    li {
      font-size: 1.25rem;
      display: table-row-group;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .copy {
    display: inline-block;
    position: relative;
    justify-content: center;
  }

  .globe {
    display: none;
  }
}
